.menu-item .text-menu-item-update {
    padding-left: 10px;
    color: black;
    font-size: 13px;
    font-weight:bold 200;
}

.container-left-index2-update {
    float: left;
    height: 740px;
    width: 15%;
    background-color: white;
    position: fixed;
    top: 0px;
    border-right:1px solid #D2D6DE;
}
.bg-color{
    width: 10px;
    height: 20px;
    background-color: white;
    padding: 5px;
}
.bg-color-update{
    width: 20px;
    height: 20px;
    background-color: black;
    padding: 5px;

}
.icon-setting{
    margin-left: -5px;
}